html, body {
    height: 100vh;
}

.hourlyForecast {
    height: 300px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
}

.weekForecast {
    height: 300px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
}

.weekForecast > div,
.hourlyForecast > div {
    border-style: solid;
    border-width: 1px;
    border-color: #2d6a4f;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.locationDiv {
    height: 60px;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

#location {
    background-color: #d8f3dc;
    border-radius: 12px;
    padding-left: 5px;
}

body {
    background-color: #b7e4c7;
}